body{
    width: 800px;
    max-width: 90%;
    margin: auto;
}

@media (min-width: 640px) {
    body{
        background-color:#eaf6ff; 
    }
}

@media (max-width: 500px){
    h1{
        font-size: 1.5rem;
        
    }
}

@media (min-width: 640px){
    h1{
        font-size: 2.5rem;
        
    }
}

/*---------------grid 1-----------*/

#fixed-size-grid-items aside{
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}


#fixed-size-grid-items li{
    display: grid;
}

#fixed-size-grid-items ul {
  list-style-type:none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;  
    padding-left: 0;
}

/*---------------grid 1 end-----------*/

/*---------------grid 2-----------*/




/* Reference note for self and future-use maybe:
 Without media query is the possibility of using auto-fit and then 
 adjusting the width of the li element column from the ul element. 
 I added padding to the li element to separate the columns. */

#stretchable-grid-items li{
    display: grid;
    padding: 10px;
}

#stretchable-grid-items ul {
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
}

/*note: I could not find a good solution in time in terms of using media-query's in addition to the "auto-fit" function. 
 Although its an interesting alternative, I'm not sure if this is what the assignment was asking for 
since "auto-fit" does not allow me to be as specific as I need/want to be in terms of adjusting
the viewport and all that. */
/*---------------grid 2-----------*/