
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:grey;
}






.imagery img{
    width: 170px;
}

.imagery{
    padding: 0;
}


.imagery li{
    display: block;
    width: 20%;
    
}

.imagery{
    width:50%;
    display: flex;
    flex-wrap: wrap;
}

