






/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------Main elements---------------------------------------*/
*{
    margin:0px 0px 0px 0px;
}

.images{
    /*this class is only applied to one div, other images are not in divs*/
text-align: center;
}


body, footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgb(207, 214, 197);
}


footer{
    line-height: 130%;
    background-color: rgb(0, 0, 0, 0.4);
    width:auto;
    height:auto;
    backdrop-filter: blur(8px);
    padding: 3% 2% 1% 3%;
}


.bodyDIV{
    margin: 3%;
}


.mainSECTION{
    text-align: center;
    font-size: 1.25rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------Header and Navigation-------------------------------------*/

.titleCARD, .linkCARD{
font-family: 'Cinzel', serif;
}

.titleCARD:hover, .linkCARD:hover{
    background-color:rgb(0, 0, 0);
    letter-spacing: 2px;
    transition-duration: 1s;
    /*maybe add click threshold so when you only hover over a certain area it will change because it shows two boxes right now*/
}

nav{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin-top: -50px;
}


.titleCARD{
    background-color: rgb(20, 22, 17);
    color: white;
    padding: 3% 1% 4% 1%;
    text-align: center;
    font-size: 7rem;

}

.linkCARD{
    text-decoration:none;
    color: white;
    background-color: rgb(20, 22, 17);
}

.linkNAV, .linkDISCOVER{
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: rgba(97, 111, 104, 0.1);
    color:rgb(168, 164, 164);
    font-family: 'Raleway', sans-serif;
    padding: 1% 3% 1% 3%;
    text-decoration: none;
    margin: 0% 1% 0% 1%;
}

.linkDISCOVER:hover{
    background-image: url(./images/cracked-transparent.png);
    background-size:300%;
    background-position-y: 50%;
    background-position-x: -800px;
}

.linkNAV:hover{
    background-image: url(./images/cracked-transparent.png);
    
    background-size:300%;
    background-position-y: -900px;
   background-position-x: -60px;
}

.discover{
    text-align: center;
}


h1{
   font-size: 2.75rem;
   font-weight: 100;
   padding-bottom: 2%;
}

h3{
    font-weight: 500;
    font-size: 1.5rem;
}


.imageSECTIONone{
    text-align: center;
}



.containerHISTORY{
    padding: 1% 0% 1% 0%;
}

.bodyMAIN, .bodySOURCES{
    background-color: rgb(54, 70, 54);

}
.bodyHISTORY, .bodyCONTEMP{
   background-color: black;
}


.aboutBOX{
    width: 40%;
    height: auto;
    color: black;
    background-color: rgba(211, 255, 232, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    padding: 5%;
    margin: 3% 2% 2% 44%;
}

.bodyABOUT{
    background-image: url(images/sickPERSON.webp);
    background-size: cover;
    background-position: 0px 1100px;
}

.bodyCONTEMP{
    background-image: url(images/handGLASS.jpeg);
    background-size: cover;
    background-position-x: center; /*-600px was another option*/
    background-position-y: center;
}

.contempBOX{
    width: 40%;
    height: auto;
    color: black;
    background-color: rgba(241, 255, 248, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    padding: 5%;
    margin: 3% 2% 2% 44%;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*--------------------------------------------Images--------------------------------------------------*/

.imageINTRO{
    width: 50%;
    text-align: center;
    padding: 2%;
  
}

.src{
    text-decoration: none;
    color:whitesmoke;
}

.src:visited{
    color:rgb(175, 175, 144);
}


/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------HISTORY section--------------------------------------------------*/


.charles, .george{
    width: 70%;
    height:auto;
    margin:auto;
    padding: 2% 0% 4% 0%;
}

.princess, .tchai{
    width: 105%;
}

.princess, .tchai{
    padding: 2% 0% 2% 0%;
}


.pHISTORY{
    margin: 3% 2% 2% 44%;
}

.containerHISTORY.princess, .containerHISTORY.tchai{
    background-repeat:no-repeat;
    background-size:cover;
    padding: 10% 0% 30% 0%;
/*................................note...............................*/
/*combined these two properties into one container for both since 
they both had "background-repeat" and "background-size" etc the same*/
/*...................................................................*/
}


.containerHISTORY.tchai{
    background-image: url(./images/tchaikovsky.jpg);
}

.containerHISTORY.princess{
    background-image: url(./images/princess.jpg);
    
}

.pHISTORY.blur{
    height: auto;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    border-radius: 3px;
    padding: 5%;
    margin: 3% 2% 2% 44%;
}

.pHISTORY.blur:hover{
    backdrop-filter: blur(0px);  
    transition: 0.5s; 
}

/*------Sources------*/

.h1SOURCES{
    padding-top: 5%;
}


/*-----media queries------*/

/*.....Intro Page..............................................................................*/

@media(max-width:1190px){
    .titleCARD{
        font-size: 5rem;
    }
}
@media(max-width:1165px){
    .titleCARD{
        font-size: 5rem;
        padding-bottom: 6%;
    }
    .linkDISCOVER:hover{
        background-position-x: -600px;
    }

}

@media(max-width:832px){
    .titleCARD{
        font-size: 3rem;
        padding-bottom: 8%;
    }
    .imageINTRO{
        width:70%;
        height:70%;
    }
    .mainSECTION{
        margin-left: 15%;
        margin-right: 15%;
    }
    .linkDISCOVER:hover{
        background-position-x: -500px;
    }
}

@media(max-width:610px){
    .imageINTRO{
        width:100%;
        height:100%;
    }
    .mainSECTION{
        margin-left: 5%;
        margin-right: 5%;
    }
    .linkDISCOVER:hover{
        background-position-x: -400px;
    }
    .titleCARD{
        padding-bottom: 9%;
    }
}

@media(min-width:0px) and (max-width:490px){
    .mainSECTION{
        font-size: 16px;
    }

    .mainSECTION{
        margin-left: 2%;
        margin-right: 2%;
    }

    footer{
        font-size: 9px;
    }
    .linkDISCOVER:hover{
        background-position-x: -200px;
    }

}
@media(min-width:0px) and (max-width:320px){

    .titleCARD{
        padding-bottom: 27%;
    }
   .bodyDIV{
    padding-bottom: 30%;
   }
}

@media(min-width:320px) and (max-width:535px){

    .titleCARD{
        padding-bottom: 15%;
    }

    .bodyDIV, .contempBOX{
        padding-bottom: 40%;
       }

}






/*.............................................................................................*/
/*............................................Navigation Media..................................*/
@media(max-width:1190px){
    nav{
        margin-top: -33px;
        font-size: 0.9rem;
    }
}

@media(max-width:462px){
    .linkNAV{
        margin: 1%;
        padding: 2%;
    }
     
}

@media(max-width:414px){
    .linkNAV{
        margin: 0.25%;
        padding: 0.5%;
    }
}
/*.............................................the entire NAV will need to be changed to a grid, it's too tiny if I continued adjusting it until 320px...
@media(min-width:0px) and (max-width:414){
    .linkNAV{
     
    }
}*/

/*.............................................................................................*/
/*....................................About Media..............................................*/

@media(max-width:1190px){
    .bodyABOUT{
        background-size: 150%;
       
    }
}

@media(max-width:950px){
    .bodyABOUT{
        background-size: 200%;
    }
}

@media(max-width:718px){
    .bodyABOUT{
        background-size: 300%;
        
    }

    .aboutBOX{
        width: 70%;
        height: auto;
        padding: 5%;
        margin: 10% 5% 2% 10%;}
}
@media(min-width:320px) and (max-width:460px){
    .bodyABOUT{ background-size: 450%;
    }

    .aboutBOX{
        width: 70%;
        height: auto;
        padding: 5%;
        margin: 7% 5% 2% 10%;}
}
@media(min-width:0px) and (max-width:320px){
    .bodyABOUT{
        background-size: 600%;
        background-position-y: 20%;
        background-position-x: -50px;
        
    }

    .aboutBOX{
        width: 70%;
        height: auto;
        padding: 5%;
        margin: 3% 5% 2% 10%;}
}

/*.............................................................................................*/
/*....................................History Media..............................................*/

@media(max-width:1190px){
   
.pHISTORY.blur{
    margin: 3% 10% 2% 30%;
}

.containerHISTORY.princess, .containerHISTORY.tchai {
    background-position-x: 20%;
}
}

@media(max-width:945px){

    .george, .charles{
        width: 90%;
    }

}


@media(max-width:584px){
    .containerHISTORY.princess, .containerHISTORY.tchai {
        background-position-x: 40%;
    }


.pHISTORY{
    margin:0;
}
}


@media(min-width:320px) and (max-width:720px){
    .pHISTORY.blur{
        margin: 3% 20% 2% 10%;
    }
}
@media(min-width:0px) and (max-width:320px){
    .pHISTORY.blur{
        margin: 2%;
        
    }
}

/*.............................................................................................*/
/*....................................Contemp Media..............................................*/


@media(max-width:850px) {
    .contempBOX {
        margin: 5% 50% 2% 40%;}

}


@media(max-width:720px) {

h1{
    font-size: 2.3rem;
}

.contempBOX {
    margin-top: 6% }
}


@media(max-width:612px) {

    h1{
        font-size: 2rem;
    }
}


@media(max-width:530px) {

        h1{
            font-size: 1.7rem;
        }
}
@media(max-width:490px) {
.contempBOX {
    margin-top: 9%;
}
}

@media(max-width:450px) {

        h1{
            font-size: 1.4rem;
        }

}


@media(min-width:0px) and (max-width:450px){
   
    h1{
    font-size: 25px;
    }

}

@media(min-width:0px) and (max-width:570px){
.contempBOX{
    margin: 5% 2% 2% 2%;
    width: 85%;
}
}