html{
    font-family: 'Archivo Narrow', sans-serif;
}

header{
text-align: center;
background-image: url(../images/cinderella.jpg); background-size: cover;
}

section{
    background-color:powderblue;
    padding-bottom: 40px;
}

h1, h2, h3, p{
    margin: 0;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 30px;
    margin-top: -3px;
}
h3{
    font-size: 40px;
    text-align: center;
}

section.closing_summary{
    padding: 4px;
}

section.content_grid{
    background-color:lightyellow;
    
} /* <---- I put this specific section above column_container to override the 48px padding*/

.column_container{
    width:960px;
    margin: auto;
    padding-top: 48px;

}

header .column_container{
    padding-top: 150px;
    padding-bottom: 182px;
}


section .column_container{
padding-top: 42px;
}

.pigeon_image{
    float: right;
    margin: 0px 0px 20px 40px
}

.intro_text_paragraphs{
    padding-top: 32px;
    font-size: 18px;
}

.intro_paragraph{
padding-bottom: 17px;
line-height: 25px;
}

footer{
    background-color: seashell;
}


 
/*-----------------------grid section-----------------*/

.photolist img{
    width: 200px;
    padding: 10px 12px 15px 0px;
    float:left;
}
    
.photosection{
    margin-top: -28px; 
    padding-top: 50px;
}

.photolist{
    list-style-type:none;
    display: grid;
    grid-template-columns: 480px 480px;
    margin: 0;
    padding: 0;
}

.photo_title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 9px
    
    }
    
.photo_text{
    font-size: 18px;
    margin-top: 6px;
    padding-right: 45px;
    line-height: 25px;
    }
    /*-----------------------grid section end-----------------*/

.closing_text{
    font-size: 26px;
    padding: 32px 120px 100px 120px;
    text-align: center;
    line-height: 36px;
}

i.fa-regular.fa-copyright{
    font-size: 13px;
    margin-right: -2px;
}

.copyright{
    margin-top: -9px;
    font-size: 18px;
    padding-bottom: 42px;
}